* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  list-style-type: none;
  text-decoration: none;
}

body {
  margin: 0;
}
.header {
  padding: 24px;
}
.header > h1 {
  margin: 0;
  text-align: center;
  color: gray;
}
.subject_wrap {
  width: 1000px;
  margin: 30px auto;
}
.contents_wrap {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 18px;
}
.content_wrap {
  display: flex;
  gap: 20px;
}
.category_wrap {
  width: 250px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
}
.category_wrap > label {
  cursor: pointer;
}
.filter_wrap {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
}
.filter_wrap > .level_wrap {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
}
.container {
  flex-grow: 1;
  margin-top: 10px;
}
.content_list {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.level_wrap > label {
  padding: 5px;
  cursor: pointer;
  color: #ccc;
}
.level_wrap > .active {
  padding: 5px;
  cursor: pointer;
  color: gray;
  font-weight: 600;
}
.listname {
  background-color: gray;
  color: #fff;
  padding: 3px 6px;
  border-radius: 4px;
}
.content_list > ul {
  display: flex;
}
.content_item {
  display: flex;
}
.noLi {
  width: 8%;
  text-align: center;
}
.classLi {
  width: 50%;
  text-align: center;
}
.teacherLi {
  width: 10%;
  text-align: center;
}
.categoryLi {
  width: 15%;
  text-align: center;
}
.levelLi {
  width: 10%;
  text-align: center;
}
.countLi {
  width: 12%;
  text-align: center;
}
.classList {
  width: 48%;
  padding-left: 4px;
}
.search_wrap {
  display: flex;
  align-items: center;
}
.search_wrap > input {
  padding: 8px;
  border-radius: 4px;
  outline: none;
  border: 1px solid #ccc;
}
.reset > button,
.search_wrap > button {
  border: none;
  margin: 0px 10px;
  width: 65px;
  height: 33px;
  padding: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  color: #fff;
  background-color: gray;
  cursor: pointer;
}
.reset > button {
  width: 70px;
  margin: 0;
}
.active_c {
  width: max-content;
  background-color: gray;
  padding: 4px 8px;
  color: #fff;
  border-radius: 8px;
}
